<h1 id="qst_new_title">New question</h1>

<div class="container">
  <%= render 'form' %>
  <%= link_to 'Back', questions_path, class: 'btn btn-primary col-sm-1 back-btn', style: 'color:#fff' %>
</div>
